<html>
    <head>
        <script
            type="text/javascript"
            src="../../../../js/jquery-1.4.2.min.js">
        </script>
        <script
            type="text/javascript"
            src="../../../../syntax_highlighter/scripts/shCore.js">
        </script>
        <script
            type="text/javascript"
            src="../../../../syntax_highlighter/scripts/shBrushJScript.js">
        </script>
        <script
            type="text/javascript"
            src="../../../../syntax_highlighter/scripts/shBrushPhp.js">
        </script>
        <script
            type="text/javascript"
            src="../../../../syntax_highlighter/scripts/shBrushXml.js">
        </script>
        <link
            href="../../../../syntax_highlighter/styles/shCore.css" rel="stylesheet"
            type="text/css"
        />
        <link
            href="../../../../syntax_highlighter/styles/shCoreEclipse.css"
            rel="stylesheet" type="text/css"
        />
        <link
            href="../../../../syntax_highlighter/styles/shThemeWordpress.css"
            rel="stylesheet" type="text/css"
        />
    </head>
    <body>
        <pre class="brush: php">&lt;?php if($auth === FALSE){ ?&gt;
	&lt;h2&gt;Wellcome!&lt;/h2&gt;
	&lt;h4&gt;Please login or register to continue!&lt;/h4&gt;
	&lt;button&gt;&lt;a href=&quot;/user/login-form&quot;&gt;Login&lt;/a&gt;&lt;/button&gt;
	&lt;button&gt;&lt;a href=&quot;/user/register-form&quot;&gt;Register&lt;/a&gt;&lt;/button&gt;
&lt;?php }else{ ?&gt;
	&lt;h2&gt;Wellcome, &lt;?= $userName ?&gt;!&lt;/h2&gt;
	&lt;button&gt;&lt;a href=&quot;/user/log-out&quot;&gt;Log Out&lt;/a&gt;&lt;/button&gt;
&lt;?php } ?&gt;
</pre>
        <script type="text/javascript">
             SyntaxHighlighter.all();
             jQuery('.gutter div').each(function(key, data){
                jQuery(data).prepend('<a name="L'+jQuery(data).text()+'"/>');
             });
        </script>
    </body>
</html>