<html>
    <head>
        <script
            type="text/javascript"
            src="../../../../js/jquery-1.4.2.min.js">
        </script>
        <script
            type="text/javascript"
            src="../../../../syntax_highlighter/scripts/shCore.js">
        </script>
        <script
            type="text/javascript"
            src="../../../../syntax_highlighter/scripts/shBrushJScript.js">
        </script>
        <script
            type="text/javascript"
            src="../../../../syntax_highlighter/scripts/shBrushPhp.js">
        </script>
        <script
            type="text/javascript"
            src="../../../../syntax_highlighter/scripts/shBrushXml.js">
        </script>
        <link
            href="../../../../syntax_highlighter/styles/shCore.css" rel="stylesheet"
            type="text/css"
        />
        <link
            href="../../../../syntax_highlighter/styles/shCoreEclipse.css"
            rel="stylesheet" type="text/css"
        />
        <link
            href="../../../../syntax_highlighter/styles/shThemeWordpress.css"
            rel="stylesheet" type="text/css"
        />
    </head>
    <body>
        <pre class="brush: php">&lt;button&gt;&lt;a href=&quot;/&quot;&gt;Home&lt;/a&gt;&lt;/button&gt;
&lt;h3&gt;User Registration&lt;/h3&gt;
&lt;?php if(isset($errorMessage)){ ?&gt;
	&lt;p style=&quot;color: red&quot;&gt;&lt;?= $errorMessage ?&gt;&lt;/p&gt;
&lt;?php	} ?&gt;
&lt;form action=&quot;/user/register&quot; method=&quot;post&quot;&gt;
	&lt;fieldset&gt;
		&lt;legend&gt;User registration form&lt;/legend&gt;
		&lt;input type=&quot;text&quot;
		       name=&quot;user&quot;
		       required
		       value=&quot; &lt;?php if(isset($user)){	echo $user;	} ?&gt;&quot;&gt; Your login &lt;br&gt;
		&lt;input type=&quot;email&quot;
		       name=&quot;email&quot;
		       required
		       value=&quot;&lt;?php if(isset($email)){echo $email;} ?&gt;&quot;&gt; Your email &lt;br&gt;
		&lt;input type=&quot;password&quot; name=&quot;pass1&quot; required&gt; Your password &lt;br&gt;
		&lt;input type=&quot;password&quot; name=&quot;pass2&quot; required&gt; Password reenter &lt;br&gt;
		&lt;input type=&quot;submit&quot; name=&quot;send&quot; value=&quot;register&quot;&gt; &lt;br&gt;
	&lt;/fieldset&gt;
&lt;/form&gt;
</pre>
        <script type="text/javascript">
             SyntaxHighlighter.all();
             jQuery('.gutter div').each(function(key, data){
                jQuery(data).prepend('<a name="L'+jQuery(data).text()+'"/>');
             });
        </script>
    </body>
</html>